.no-hover-fill {
    background-color: transparent !important;
    color:#db8234!important;
    border: 2px solid #db8234 !important;
    box-shadow: none  !important;
  }
  
.no-hover-fill:hover {
    background-color: #db8234 !important;
    color: #ffff !important;
    border-color: #db8234 !important;
    box-shadow: none  !important;
  }

 .bodyColor {
 background-color: #283028 !important; 
   minHeight: "100vh";
  }

 
  
  